img.rectangle {
    position:absolute;
  width:99%;
  height:330px;
}
img.ellipse{
    position: relative;
    width:50px;
    height:50px;
    top:30px;
    left:70px;
}
label.logo{
    position: relative;
    top:13px;
    left:28px;
    color: #FFF;
text-align: right;
font-family:"Lucida Console", "Courier New", monospace;
font-size: 24px;
letter-spacing: -2px;
}
label.brandname{
    position: relative;
    top:13px;
    left:45px;
    color: #000;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 35.2px;
}
button.signin_btn{
    position: absolute;
    top:40px;
    right:50px;
width: 136px;
height: 48px;
background-color: transparent;
}
div.rectangle{
position:relative;
width:500px;
height: 450px;
top:50px;
left:425px;
border: 1px solid lightgray ;
background-color: #FFF;
box-shadow: 1px 2px 5px lightgray;
}
label.heading{
    position:absolute;
    color: #212121;
    top:15px;
    left:130px;
text-align: center;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 31.25px;
font-style: normal;
font-weight: 700;
line-height: 37.5px; 
letter-spacing: -0.5px;
}
label.sub_heading{
position:absolute;
top:55px;
left:110px;
color: #757575;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
label.f_name{
    position: absolute;
    top:210px;
    left:510px;
    color: #212121;
font-family:"Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 10.29px;
font-style: normal;
font-weight: 500;
line-height: 18.06px;
}
input.fname_text{
position: absolute;
top:207px;
left:500px;
width: 348px;
height: 49px;
color: #616161;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28.16px;
}
label.email{
    position:absolute;
    top:263px;
    left:510px;
    color: #616161;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 10.29px;
font-style: normal;
font-weight: 500;
line-height: 18.06px;
}
input.mail_id{
    position:absolute;
    top:262px;
    left:500px;
    width:350px;
    height:50px;
    color: #757575;
    border:1px solid lightgray; 
    font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28.16px;
}
label.password{
    position: absolute;
    top:319px;
    left:510px;
    color: #616161;
font-family:"Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 10.29px;
font-style: normal;
font-weight: 500;
line-height: 18.06px;
}
input.password{
    position: absolute;
    top:315px;
    left:500px;
    width:350px;
    height:50px;
    color: #757575;
    border:1px solid lightgray; 
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28.16px;  
}
img.eye{
    position: absolute;
    top:335px;
    left:820px;
}
input.checkbox{
    position:absolute;
    top:385px;
    left:496px;
    width: 21.524px;
    height: 22px;
}
label.terms{
    position: absolute;
    top:387px;
    left:530px;
    color: #616161;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 22.53px;   
text-decoration-line: underline;
}
input.submit{
    position: absolute;
    top:425px;
    left:500px;
    width:359px;
    height:50px;
    background: #212121;
    color: #FFF;
text-align: center;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28.16px;
}
label.or{
    position:absolute;
    top:485px;
    left:670px;
    color: #000;
text-align: right;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: 22.53px;
}
img.group{
    position:absolute;
    top:510px;
    left:595px;
}
label.footer{
    position:fixed;
    bottom:10px;
    left:570px;
    color: #616161;
text-align: right;
font-family: "Zen Kaku Gothic", "Antique", Sans-serif;
font-size: 10.29px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.7px;
}